{% extends 'base.html.twig' %}

{% block title %}Liste des Employés{% endblock %}

{% block body %}
<div class="container">
<div class="row justify-content-center mt-5 mb-5">
			<div class="row pb-5 ">
				<div class="card custom-box-shadow">
					<div class="col-12 justify-content-center py-5">
						<h1 class="text-center">Liste des Employés</h1>


					</div>
				</div>
			</div>
 </div>
  
    <div class="row">
        {% for detail in employerDetails %}
            <div class="col-lg-6">
                <div class="card lg-4 custom-box-shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ detail.prenom }} {{ detail.nom }}</h5>
                        <p class="card-text">Email: {{ detail.email }}</p>
                        <p class="card-text">Adresse: {{ detail.adresse }}, {{ detail.complement_adresse }}, {{ detail.code_postal }}, {{ detail.ville }}</p>
                        <p class="card-text">Téléphone: {{ detail.telephone }}</p>
                        <p class="card-text">Profession: {{ detail.profession }}</p>
                     
                    </div>
                    <div class="row justify-content-center">
                    <div class="col-lg-4 ">
                 <button type="button" class="btn btn-primary modalAction" data-bs-toggle="modal" data-bs-target="#detailModal{{ detail.id }}">Supprimer l'employé</button>
                    {% include 'societe/modal/retirer.html.twig' with {'detail': detail} %}
                    </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun employé trouvé.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
