{% extends 'base.html.twig' %}

{% block title %}Vetotoil
{% endblock %}

{% block body %}


	<div class="row justify-content-center" id="picture">
		<div class="col-12 text-center position-relative">
			<img src="/images/img/photoaccueil.jpg" alt="accueil-vetotoil" class="mx-auto w-100">
			<h1 class="position-absolute top-50 start-50 translate-middle grand" style="transform: translate(-50%, -50%); z-index: 1;">VETOTOIL</h1>

			<p class="position-absolute top-50 start-50 translate-middle mt-5 bold" style="transform: translate(-50%, 50%); z-index: 1;">Vous recherchez un
				<span id="choix">Vétérinaire</span>
			</p>
		</div>
	</div>
	<div class="container" id="home">

{% for message in app.flashes('info') %}
    <div class="alert alert-info">
        {{ message }}
    </div>
{% endfor %}
		<fieldset class="border p-2 mb-4 mt-4 custom-box-shadow">
			<legend class="float-none w-auto">
				<strong>Particulier</strong>
			</legend>
			<div class="row justify-content-center py-5">
				<div class="col-12 col-md-3 m-md-3 mb-3 rounded-3 degrader col-lg-2">

					<p>Facilitez la planification des rendez-vous pour le bien-être de votre compagnon adoré avec notre
					 service dédié.</p>
				</div>
				<div class="col-md-3 col-12 m-md-3 mb-3 rounded-3 degrader col-lg-2">
					<p>Nous mettons à votre disposition une plateforme intuitive et conviviale pour organiser aisément
					les rendez-vous nécessaires à la santé et au bonheur de votre animal préféré.</p>
				</div>
				<div class="col-md-3 col-12 m-md-3 mb-3 rounded-3 degrader col-lg-2">
					<p>Profitez d'une expérience simple et efficace, où chaque clic rapproche votre compagnon de soins
					attentifs et personnalisés.</p>
				</div>
			</div>

			<div class="row justify-content-between">
				<div class="col-md-3 col-12 m-md-3 mb-3 rounded-3 degrader col-lg-2">


					<p>Parce que la santé de votre animal compte autant pour nous que pour vous, simplifiez la prise de
						rendez-vous et offrez-lui une vie épanouissante</p>
				</div>
				<div class="col-md-3 col-12 m-md-3 mb-3 rounded-3 col-lg-2">
					<div class="containerCarroussel ">
						<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
							<div class="carousel-indicators">
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
							</div>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img src="/images/img/Chien_chez_le_vétérinaire.png" class="d-block w-100 rounded-3" alt="Chien chez le vétérinaire">
								</div>
								<div class="carousel-item">
									<img src="/images/img/dog_at_the_groomer.png" class="d-block w-100 rounded-3" alt="Chien chez le toiletteur">
								</div>
								<div class="carousel-item">
									<img src="/images/img/Chien_chez_le_vétérinaire1.png" class="d-block w-100 rounded-3" alt="Chien chez le vétérinaire">
								</div>
								<div class="carousel-item">
									<img src="/images/img/dog_at_the_groomer1.png" class="d-block w-100 rounded-3" alt="Chien chez le toiletteur">
								</div>

								<div class="carousel-item">
									<img src="/images/img/Chien_chez_le_vétérinaire2.png" class="d-block w-100 rounded-3" alt="Chien chez le vétérinaire">
								</div>
								<div class="carousel-item">
									<img src="/images/img/dog_at_the_groomer2.png" class="d-block w-100 rounded-3" alt="Chien chez le toiletteur">
								</div>
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-12 m-md-3 mb-3 rounded-3 degrader col-lg-2">
					<p>Pensez à vous
						<strong>enregistrer</strong>
						ou a vous
						<strong>connectez</strong>
						pour prendre rendez-vous en ligne avec votre professionnel
					</p>
				</div>
			</div>

			<div class="container-info py-5 mx-4">

				<div class="row justify-content-center">
					<div class="col-md-3 col-12 m-md-3 mb-3 rounded-3 degrader col-lg-2">
						<p class="pt-4">Il existe
							<strong>7 vaccins</strong>
							qui, s'ils ne sont pas obligatoires, sont
																																	                    très
																																	                    fortement recommandés car ils servent à prévenir des maladies souvent mortelles.</p>
					</div>
					<div class="col-md-2 col-12 m-md-3 mb-3 d-none d-lg-block col-lg-2">
						<img src="/images/img/seringue.jpg" class="img-fluid" width="500" height="300" alt="dessin de piqure">
					</div>
					<div
						class="col-md-2 col-12 m-md-3 mb-3 d-md-block d-none col-lg-2">
						<!--d-none cache en mobile d-md-block affiche version pc -->
						<img src="/images/img/ciseaux.jfif" class="img-fluid" width="500" height="300" alt="ciseau pour toilettage">
					</div>
					<div class="col-md-3 col-12 m-md-3 mb-3 rounded-3 degrader col-lg-2">
						<p>Le toilettage est une
							<strong>étape obligatoire</strong>
							afin de veiller à la bonne hygiène de votre chien. Grâce au savoir-faire des toiletteurs, il sera traité en fonction de ses
							spécificités, son pelage ou sa race</p>
					</div>
				</div>
				<div class="row justify-content-center py-5">
					<div class="col-md-4 col-12 text-center align-self-center pt-2">
					
									 <form action="{{ path('app_register') }}" method="POST" data-turbo="false">
    <input type="hidden" name="type" value="patient">
    <button type="submit" class="btn btn-custom rounded-pill">Inscription</button>
</form>
						</a>
					</div>
					<div class="col-md-4 col-12 text-center align-self-center pt-2">
					
							<a href="{{ path('app_login') }}" class="btn btn-custom rounded-pill">Connexion</a>
						</a>
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset class="border p-2 mb-4 mt-4 custom-box-shadow">
			<legend class="float-none w-auto">
				<strong>Professionnel</strong>
			</legend>


			<div class="row justify-space-around center">
				<div class="col-md-4 col-12 d-flex align-items-center">
					<img src="/images/img/montre.png" class="taille-image" alt="image_montre">
					<p class="ms-3 mt-4">
						<strong>Libérez</strong>
						du temps médical grâce à la prise de rendez-vous en ligne</p>
				</div>

				<div class="col-md-4 col-12 d-flex align-items-center">
					<img src="/images/img/oeil.png" class="taille-image" alt="image_oeil">
					<p class="ms-3 pt-5">
						<strong>Développez</strong>
						l'activité de votre cabinet/salon selon vos besoins grâce à une meilleure visibilité en ligne</p>
				</div>
			</div>
			<div class="row espace center">
				<div class="col-md-4 col-12 d-flex align-items-center">
					<img src="/images/img/telephone.png" class="taille-image" alt="image_telephone">
					<p class="ms-3 pt-5">
						<strong>Gagnez</strong>
						en confort de travail au quotidien en réduisant les appels téléphoniques à votre cabinet</p>
				</div>
			</div>
		<div class="row justify-content-center">
    <div class="col-12 col-lg-4 text-center my-4">
        
		 <form action="{{ path('app_register') }}" method="POST" data-turbo="false">
    <input type="hidden" name="type" value="societe">
    <button type="submit" class="btn btn-custom rounded-pill">Découvrir VETOTOIL Pour professionnel</button>
</form>
       
        {# </a> #}
    </div>
    <div class="col-12 col-lg-4 text-center my-4">
       
		<a href="{{ path('app_login') }}" class="btn btn-custom rounded-pill">  Connexion Pour professionnel</a>

    </div>
</div>
		</fieldset>
	</div>
{% endblock %}
