{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}


	<div class="container pb-5 pt-5" id="inscription">
		<div class="row pb-5 ">
			<div class="card custom-box-shadow">
				<div class="col-12 justify-content-center py-5">
					<h1 class="text-center">Inscription</h1>


				</div>
			</div>
		</div>
		{{ form_errors(registrationForm) }}
		{{ form_start(registrationForm) }}
		<div class="card custom-box-shadow">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					{{ form_row(registrationForm.nom,{'label_attr': {'class': 'label-large'}}) }}
					{{ form_row(registrationForm.prenom,{'label_attr': {'class': 'label-large'}}) }}
					{{ form_row(registrationForm.email,{'label_attr': {'class': 'label-large'}}) }}
					{{ form_row(registrationForm.plainPassword.first, { 'label_attr': {'class': 'label-large'}}) }}
					{{ form_row(registrationForm.plainPassword.second, { 'label_attr': {'class': 'label-large'}}) }}
					<ul id="ulVisible" class="d-none">
						<div class="row">
							<div class="col-4">
								<img src="{{ asset('img/valider.png') }}" class="img-thumbnail d-none" id="chiffre" width="25%">

							</div>
							<div class="col-8">
								<li class="text-font">Mettre des lettres et de chiffres</li>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<img src="{{ asset('img/valider.png') }}"  class="img-thumbnail d-none" id="majuscule" width="25%">

							</div>
							<div class="col-8">
								<li class="text-font">Une ou plusieurs Majuscule</li>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<img src="{{ asset('img/valider.png') }}"  class="img-thumbnail d-none" id="caractere" width="25%">

							</div>
							<div class="col-8">
								<li class="text-font">8 Caractères minimum</li>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<img src="{{ asset('img/valider.png') }}"  class="img-thumbnail d-none" id="special" width="25%">

							</div>
							<div class="col-8">
								<li class="text-font">1 Caractere special</li>
							</div>
						</div>

					</ul>
					{{ form_row(registrationForm.agreeTerms,{'label_attr': {'class': 'label-large'}}) }}

				</div>
			</div>

		</div>

		{{ form_end(registrationForm) }}

	</div>
		{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/password.js') }}" type="module" defer></script>
{% endblock %}
{% endblock %}
