{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}





{# {% if user is not null %} #}
    <h1>Employer Trouver</h1>
    {# <p>Email: {{ user.getEmail() }}</p>
    <p>Nom : {{ user.getNom() }}</p>
    <p>Prenom : {{ user.getPrenom }}</p> #}
    {{ form_errors(form) }}
    {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
   {{ form(form) }} 
{{ form_end(form) }}

 
{# {% else %}
    <h1>Aucune personne trouvé avec cet email</h1>
{% endif %} #}

{% endblock %}