{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/race.js') }}" type="module" defer></script>
{% endblock %}
{% block body %}

	
		<div class="row">
			<div class="col-lg-8">
				<button type="submit" class="btn btn-primary" id="boutonAnimal">Ajouter Animal</button>
			</div>
		</div>

		<div class="col-6 invisible custom-box-shadow" id="displayAnimal">

			<div class="row g-0">

				<div class="col-md-8">
					<div
						class="card-body">
						{# <form class="col-lg-8" id="choix_animal"> #}
						{{ form_errors(form) }}
						{{ form_start(form) }}
						{{ form_row(form.prenom_animal,{'label_attr': {'class': 'label-large'}}) }}
						{{ form_row(form.date_naissance_animal,{'label_attr': {'class': 'label-large'}}) }}
						{{ form_row(form.imageFile,{'label_attr': {'class': 'label-large'}}) }}
						{{ form_row(form.submit,{'label_attr': {'class': 'label-large'}}) }}
						{{ form_end(form) }}

					</div>
				</div>


			</div>
		</div>

{% endblock %}
