{% extends 'base.html.twig' %}

{% block title %}Ajouter un animal{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/race.js') }}" type="module" defer></script>
{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <!-- Titre séparé comme demandé -->
    <div class="row justify-content-center mb-5 mt-5">
        <div class="col-12">
            <div class="card custom-box-shadow py-5">
                <h1 class="text-center">Ajouter un Animal</h1>
            </div>
        </div>
    </div>

    <!-- Bloc du formulaire -->
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card custom-box-shadow">
                <div class="card-body">
                    {{ form_errors(form) }}
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="mb-3">
                        {{ form_row(form.prenom_animal, {'label_attr': {'class': 'label-large'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.date_naissance_animal, {'label_attr': {'class': 'label-large'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.type, {
                            'attr': {'class': 'form-select'},
                            'label_attr': {'class': 'form-label'}
                        }) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.race, {
                            'attr': {'class': 'form-select'},
                            'label_attr': {'class': 'form-label'}
                        }) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.imageFile, {
                            'label_attr': {'class': 'form-label mt-4'}
                        }) }}
                    </div>
                    <div class="text-center">
					  <div class="row justify-content-center">
					<div class="col-lg-6 ">
                        {{ form_row(form.submit, {
                            'attr': {'class': 'btn btn-custom rounded-pill'},
                            'label_attr': {'class': 'label-large'}
                        }) }}
						</div>
						</div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
