{% extends 'base.html.twig' %}

{% block title %}Créneaux RDV{% endblock %}

{% block body %}
	{{ form_errors(form) }}
{{ form_start(form) }}
{{ form_row(form.date_rdv) }}
{{ form_row(form.heure_rdv) }}
{{ form_row(form.status_rdv) }}
{{ form_row(form.societe) }}
{{ form_row(form.employer) }}
{{ form_row(form.patient) }}

<label for="animal-select">Choisissez un animal :</label>
<select id="animal-select" name="animal">
 
    {% for animal in animaux %}
        <option value="{{ animal.id }}">{{ animal.prenomAnimal }}</option>
    {% endfor %}
</select>
{{ form_end(form) }}

{% endblock %}