
<div class="pb-5">
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
		<div class="container-fluid">
			<div class="d-flex align-items-center">
				<img src="/images/img/logo.png" alt="logo-vetotoil" height="30px" width="30px" class="me-3">
				<a class="navbar-brand" href="#">VETOTOIL</a>
			</div>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarScroll">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 mx-auto">
					{% if not app.user %}

						<li class="nav-item">
							<a href="{{ path('app_home') }}" class="nav-link">Accueil</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">Connexion</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('app_register', {'role': 'ROLE_PATIENT'}) }}" class="nav-link">Inscription</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('app_contact')}}" class="nav-link">Contact</a>
						</li>
					{% endif %}
					{% if app.user %}
						{% set userRoles = app.user.getRoles() %}

						<li class="nav-item">
							<a href="#" class="nav-link active" aria-current="page">Accueil</a>
						</li>
						{% if 'ROLE_PATIENT' in userRoles %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">RDV</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li>
										<a class="dropdown-item" href="?controller=rdv&action=voir_rdv">Voir mes rdv</a>
									</li>
									<li>
										<a class="dropdown-item" href="?controller=rdv&action=recherche_rdv&profession=Toiletteur">Rechercher Toiletteur</a>
									</li>
									<li>
										<a class="dropdown-item" href="?controller=rdv&action=recherche_rdv&profession=Vétérinaire">Rechercher Vétérinaire</a>
									</li>
									<li><hr class="dropdown-divider"></li>
									<li>
										<a class="dropdown-item" href="#">Something else here</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Animal</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li>
										<a class="dropdown-item" href="{{path('app_animal_ajouter')}}">Ajouter un animal</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{path('app_animal_find')}}">Afficher un animal</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">Suivi traitement</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_patient_profil')}}">Mon Profil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_contact')}}">Contact</a>
							</li>
						{% endif %}
						{% if 'ROLE_SOCIETE' in userRoles  %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSociete" role="button" data-bs-toggle="dropdown" aria-expanded="false">Employer</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdownSociete">
									<li>
										<a class="dropdown-item" href="?controller=pro&action=gestion_employer">Gestion des employés</a>
									</li>
									<li>
										<a href="#" class="dropdown-item" id="registerEmployerLink">Inscrire un Employer</a>

										<form id="registerEmployerForm" action="{{ path('app_register') }}" method="POST" data-turbo="false" style="display: none;">
											<input type="hidden" name="type" value="employer">
										</form>
									</li>
									<li>
										<a href="{{ path('employer_search') }}" class="dropdown-item">Ajouter Employer Par Email</a>
									</li>
									<li>
										<a class="dropdown-item" href="?controller=pro&action=voir_tous_rdv_employer">Voir les RDV des employés</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">Recherche RDV Employé</a>
									</li>
									<li><hr class="dropdown-divider"></li>
									<li>
										<a class="dropdown-item" href="#">Something else here</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Société
								</a>
								<ul class="dropdown-menu " aria-labelledby="navbarDropdown">
									<li>
										<a class="dropdown-item" href="#">Modifier</a>
									</li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li>
										<a class="dropdown-item" href="#">Something else here</a>
									</li>
								</ul>

							</li>
						{% endif %}
						{% if 'ROLE_EMPLOYER' in userRoles  %}
						<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSociete" role="button" data-bs-toggle="dropdown" aria-expanded="false">Employer</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdownSociete">
									<li>
										<a class="dropdown-item" href="?controller=pro&action=gestion_employer">Gestion des employés</a>
									</li>
									<li class="registerEmployer">
										<a href="#" class="dropdown-item" id="registerEmployerLink">Inscrire un Employer</a>

										<form id="registerEmployerForm" action="{{ path('app_register') }}" method="POST" data-turbo="false" style="display: none;">
											<input type="hidden" name="type" value="employer">
										</form>
									</li>
									<li>
										<a href="{{ path('employer_search') }}" class="dropdown-item">Ajouter Employer Par Email</a>
									</li>
									<li>
										<a class="dropdown-item" href="?controller=pro&action=voir_tous_rdv_employer">Voir les RDV des employés</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">Recherche RDV Employé</a>
									</li>
									<li><hr class="dropdown-divider"></li>
									<li>
										<a class="dropdown-item" href="#">Something else here</a>
									</li>
								</ul>
							</li>
						{% endif %}
					{% endif %}

				</ul>

				<ul class="navbar-nav mb-2 mb-lg-0">
					<li class="nav-item">
						{% if app.user %}
							{% set userRoles = app.user.getRoles() %}
							{% if 'ROLE_ADMIN' in userRoles or 'ROLE_SOCIETE' in userRoles or 'ROLE_PATIENT' in userRoles or 'ROLE_EMPLOYER' in userRoles %}
								<li class="nav-item">
									<a class="nav-link active">Bonjour
										{{ app.user.getNom() }}
										{% if app.user.getPrenom() is not empty %}
											{{ app.user.getPrenom() }}
										{% endif %}
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ path('app_logout') }}"><img src="/images/img/deconnexion1.png" class="img-fluid" alt="vetotoil connexion"></a>
								</li>
							{% else %}
								<li class="nav-item">
									<a href="{{ path('app_login') }}"><img src="/images/img/connexion1.png" class="img-fluid" alt="vetotoil connexion"></a>
								</li>
							{% endif %}
						{% else %}
							<li class="nav-item">
								<a href="{{ path('app_login') }}"><img src="/images/img/connexion1.png" class="img-fluid" alt="vetotoil connexion"></a>
							</li>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
