{% extends 'base.html.twig' %}

{% block title %}Disponibilités des employés{% endblock %}

{% block body %}
<h1>Disponibilités des employés</h1>
<div class="container">
    {% if disponibilites is empty %}
        <p>Aucune disponibilité trouvée.</p>
    {% else %}
        <div class="row">
            {% for employeId, disponibilite in disponibilites %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header">
                            Employé ID : {{ employeId }}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Disponibilité</h5>
                            <p class="card-text">Jour: {{ disponibilite[0] }}</p>
                            <p class="card-text">Heure: {{ disponibilite[1] }}h00</p>
                          <p class="card-text">{{ edit.id }}</p>
                            <form method="POST" action="">
                                                       
   <input type="hidden" class="inputsansbordure w-100" value="{{ disponibilite[0] }}">

    <input type="hidden" class="inputsansbordure" value="{{ disponibilite[1] }}">
  <div class="row">
  <div class="col-6">
    <button type="submit" class="btn btn-primary w-100">Valider</button>
  </div>
  <div class="col-6">
    <button type="submit" class="btn btn-secondary w-100">Voir plus</button>
  </div>
</div>
                         
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ form_errors(form) }}
		{{ form_start(form) }}
        {{ form(form) }}
        {{ form_end(form) }}
    {% endif %}
</div>

{% endblock %}